<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:sec="http://www.sniggle.me/schema/spring/security"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.sniggle.me/schema/spring/security
	http://www.sniggle.me/schema/spring/security/spring-security-persona-1.0.xsd">

	<!-- REQUIRED APPLICATION SPECIFIC IMPLEMENTATION CONFIGURATION -->
	<beans:bean class="org.sample.controller.service.UserDetailsService"
				id="userDetailsService" />
	<beans:bean class="org.sample.model.PersonaSignupHandler"
				id="personaSignUpHandler" />

	<!-- SPRING SECURITY CONFIGURATION -->
	<http use-expressions="true">
		<form-login login-page="/"/>
		<intercept-url pattern="/" access="permitAll"/>
		<intercept-url pattern="/js/*" access="permitAll"/>
		<intercept-url pattern="/*" access="hasRole('ROLE_PERSONA_USER')" />
		<custom-filter
				ref="me.sniggle.security.persona.authenticationProcessingFilter"
				position="BASIC_AUTH_FILTER" />
		<custom-filter ref="me.sniggle.security.persona.logoutFilter"
					   position="LOGOUT_FILTER" />
	</http>
	<authentication-manager>
		<authentication-provider
				ref="me.sniggle.security.persona.authenticationProvider" />
	</authentication-manager>

	<sec:personaAuthenticationConfiguration
			id="configuration" persona-audience="https://localhost:8443"
			sign-up-handler-ref="personaSignUpHandler" user-details-service-ref="userDetailsService" />

</beans:beans>