*.class
*.jar

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

/target/
/src/main/webapp/profileImg/
/src/main/webapp/ApartmentImages/
/src/main/webapp/ShApartmentImages/