

/*Header*/

/*javascript layout*/

#moveInJS {
	display:none;
}

#moveOutJS {
	display:none;
}

#moveInJS_show {
	display:block;
}

#moveOutJS_show {
	display:block;
}

/*header*/
.navigation .col-md-2 {
	height:100%;
	background-color: #accb12 ;
	color: #3d3d3d ;
	display: block;
	font-size: 200%;
	font-weight: bold;
	border-right-style: solid;
	border-width: thin;
	border-color: #3d3d3d ;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -49px;
	
}
