

/*Header*/
body{
	overflow-x: hidden;
}
.top-image{
	position: static;
	height: 312px;
	
}
.navbar{
	position: relative;
	top: -50px;
	font-size: 200%;
	font-weight: bold;
	width: 100%;
	margin: 0;
	padding-right: 10px;
}

.navbar-rentr{
	background-color: #ACCB12;

}
.navbar-rentr a{
	color: #3D3D3D;
	
}

.log-in{
	position: absolute;
	right: 0px;
	top: 0px;
}

/*javascript layout*/

#moveInJS {
	display:none;
}

#moveOutJS {
	display:none;
}

#moveInJS_show {
	display:block;
}

#moveOutJS_show {
	display:block;
}

@media all and (max-width: 765px){
	.navbar{
		top: 0px;
	
	}
	.navbar-rentr{
		margin-top:0px
	}
}
